@font-face{
    font-family: Flower;
    src: url(my_asset/Flower/AdventPro-SemiBold.ttf);

}

@font-face{
    font-family: Flowers;
    src: url(my_asset/Flower/SansitaSwashed-Regular.ttf);

}

@font-face{
    font-family: flower;
    src: url(my_asset/Flower/SansitaSwashed-light.ttf);

}

@font-face{
    font-family: flowers;
    src: url(my_asset/Flower/AdventPro-Thin.ttf);

}


@font-face{
    font-family:Anton;
    src: url(my_asset/Flower/Anton-Regular.ttf);

}


@font-face{
    font-family:Anton;
    src: url(my_asset/Flower/Anton-Regular.ttf);

}


@font-face{
    font-family:Antons;
    src: url(my_asset/Flower/PaytoneOne-Regular.ttf);

}


@font-face{
    font-family:squada;
    src: url(my_asset/Flower/SquadaOne-Regular.ttf);

}


@font-face{
    font-family:hindi;
    src: url(my_asset/Flower/HindSiliguri-Regular.ttf);

}


@font-face{
    font-family:istok;
    src: url(my_asset/Flower/IstokWeb-Regular.ttf);

}
@font-face{
    font-family:istokss;
    src: url(my_asset/Flower/IstokWeb-Bold.ttf);

}


@font-face{
    font-family:Istok;
    src: url(my_asset/Flower/IstokWeb-Italic.ttf);

}
